%h1= @trip.name

%span#trip-length= "Trip Length: #{@trip_length} miles"
%span#average-trail-length= "Average Trail Length: #{@trail_average}"
%span#longest-distance= "Longest Hiking Distance: #{@longest_trail}"
%span#shortest-distance= "Shortest Hiking Distance: #{@shortest_trail}"

#trip-trails-container
  -@trip_trails.each do |trip_trail|
    %div{id: "trail-#{trip_trail.id}"}
      =link_to trip_trail.name, trail_path(trip_trail)
      %span= "Address: #{trip_trail.address}"
      %span= "Length: #{trip_trail.length} miles"
